<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="EventPlanConnectionString" connectionString="Data Source=DESKTOP-L3P6L8R\SQLEXPRESS;Initial Catalog=PulseGymDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EventPlanConnectionString2" connectionString="Data Source=DESKTOP-L3P6L8R\SQLEXPRESS;Initial Catalog=PulseGymDB;Integrated Security=True"
         
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" />
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
	  <machineKey 
validationKey="6FA23A58BA10B1441F9822E83201D26945BC6118176E212344C11FCD649F3A258881539EB09830DE00745785087DE8540E76BCA89A059FDF0EFB9C5E9FBCF871"
decryptionKey="D338E1D8AC98A9A27A503ECC680AF62888C09026D208F62B23B2D915432DD174"
validation="SHA1" decryption="AES"
/>

  </system.web>
  <location path="CreatEevent.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
 
</configuration>
